.voerTop_menuLeft {
  width: 0.45rem;
  height: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.voerTop_menuLeft span::after {
  content: '';
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  transform: rotate(-45deg);
}

input {
  outline: none !important;
  border: 0;
}

button {
  background-color: transparent;
}

.checkTitle {
  font-size: 0.36rem !important;
  color: #FF7815 !important;
}

.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
}

.checkTitleimg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0.22rem;
  height: 0.09rem;
  background: url("https://aimg8.dlssyht.cn/product/800_1500/8662/17322183_226482_11584008667.jpg?x-oss-process=image/resize,m_lfit,w_800,h_800,limit_0");
  overflow: hidden;
}

/deep/ .swiper-container {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

.swiper-slide {
  width: 100% !important;
}

#platformVideo .platformVideo_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#platformVideo .platformVideo_box .platformVideo_top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.26rem;
  box-sizing: border-box;
}

#platformVideo .platformVideo_box .platformVideo_top .platformVideo_top_center {
  display: flex;
  align-items: center;
}

#platformVideo .platformVideo_box .platformVideo_top .platformVideo_top_center div {
  margin-right: 0.56rem;
  position: relative;
}

#platformVideo .platformVideo_box .platformVideo_top .platformVideo_top_center div:last-child {
  margin-right: 0;
}

#platformVideo .platformVideo_box .platformVideo_top .platformVideo_top_center div span {
  color: #303030;
  font-size: 0.34rem;
  font-weight: bold;
}

#platformVideo .platformVideo_box .platformVideo_top .platformVideo_top_center div img {
  position: absolute;
  bottom: -0.048rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.23rem;
  height: 0.09rem;
}

#platformVideo .platformVideo_box .platformVideo_top .platformVideo_top_right img {
  width: 0.53rem;
  height: 0.36rem;
}

#platformVideo .platformVideo_box .platformVideo_content {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_noHttp {
  height: 100%;
  background: #F7F5F6;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocus .platformVideo_content_noFocusTop {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocus .platformVideo_content_noFocusTop img {
  width: 4.44rem;
  height: 2.33rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent {
  width: 100%;
  height: 5.89rem;
  background: #fff;
  padding: 0.45rem 0.27rem;
  box-sizing: border-box;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_title .noFocusContent_title_left {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  font-size: 0.32rem;
  color: #222222;
  padding-right: 0.1rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_title div {
  flex: none;
  font-size: 0.24rem;
  color: #888888;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_title div img {
  width: 0.09rem;
  height: 0.15rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box {
  display: flex;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child {
  width: 2.29rem;
  height: 4.2rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.23rem 0.24rem 0.26rem 0.19rem;
  margin-right: 0.07rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child:last-child {
  margin-right: 0;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child .shop_tuijian {
  width: 1.39rem;
  height: 1.33rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.19rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child .shop_tuijian img {
  width: 100%;
  height: 100%;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child .shop_tuijian_remen {
  width: 1.2rem;
  height: 0.3rem;
  margin-bottom: 0.3rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child .shenlue {
  width: 2rem;
  font-size: 0.28rem;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 0.39rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child .shop_fensi {
  font-size: 0.22rem;
  color: #777777;
  margin-bottom: 0.1rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child .shop_fensi img {
  width: 0.14rem;
  height: 0.16rem;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child button {
  width: 1.56rem;
  height: 0.57rem;
  font-size: 0.28rem;
  color: #fff;
  background: linear-gradient(90deg, #ff4e00, #ff7d18);
  border-radius: 0.1rem;
  outline: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#platformVideo .platformVideo_box .platformVideo_content .platformVideo_content_focusBox .platformVideo_content_noFocusContent .noFocusContent_box .noFocusContent_box_child button span {
  line-height: 1;
}

.noData_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  font-size: 0.28rem;
  color: #949494;
  background: #F5F5F5;
}

.platformVideo_content_noHttp_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.platformVideo_content_noHttp_box img {
  width: 2.67rem;
  height: 1.98rem;
  margin-bottom: 0.53rem;
}

.platformVideo_content_noHttp_box .noHttp_span1 {
  font-size: 0.3rem;
  color: #5D5D5D;
  margin-bottom: 0.17rem;
}

.platformVideo_content_noHttp_box .noHttp_span2 {
  color: #A7A7A7;
  font-size: 0.24rem;
  margin-bottom: 1.35rem;
}

.platformVideo_content_noHttp_box .noHttp_span3 {
  font-size: 0.3rem;
  margin-bottom: 1.35rem;
  color: #949494;
}

.platformVideo_content_noHttp_box .noSearchContent {
  width: 2.1rem;
  height: 1.93rem;
}

.platformVideo_content_noHttp_box button {
  width: 2.41rem;
  height: 0.77rem;
  border: 1px solid #ff9d4d;
  border-radius: 0.39rem;
  color: #FF8808;
  font-size: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platformVideo_content_noHttp_box button span {
  line-height: 1;
}

.platformVideo_content_noHttp_box .noAuthorization {
  background: linear-gradient(90deg, #fc6630, #fda02b);
  color: #fff;
}

.advertising_mengban {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.publicTanchuang {
  position: absolute;
  z-index: 1100;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 4.83rem;
  height: 2.73rem;
  font-size: 0.3rem;
  color: #333333;
}

.publicTanchuang .publicTanchuang_box {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0.21rem;
  overflow: hidden;
}

.publicTanchuang .publicTanchuang_box .publicTanchuang_box_top {
  min-height: 1.83rem;
  width: 100%;
  padding: 0.47rem 0.37rem 0rem;
  text-align: center;
}

.publicTanchuang .publicTanchuang_box .publicTanchuang_box_top span {
  display: block;
  margin-bottom: 0.16rem;
}

.publicTanchuang .publicTanchuang_box .publicTanchuang_box_bottom {
  width: 100%;
  height: 0.9rem;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  display: flex;
  font-size: 0.3rem;
}

.publicTanchuang .publicTanchuang_box .publicTanchuang_box_bottom .publicTanchuang_box_bottom_left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
  position: relative;
}

.publicTanchuang .publicTanchuang_box .publicTanchuang_box_bottom .publicTanchuang_box_bottom_left span::after {
  content: '';
  display: block;
  width: 1px;
  height: 0.35rem;
  background: #cbcbcb;
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
}

.publicTanchuang .publicTanchuang_box .publicTanchuang_box_bottom .publicTanchuang_box_bottom_right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF8808;
}

.PoperContentView {
  background: #ffffff;
  position: relative;
  background-color: #F7F5F6;
  height: 100%;
  overflow: hidden;
  padding-top: 0.1rem;
  box-sizing: border-box;
}

.PoperContentView .searchNoteTop {
  display: flex;
  height: 0.8rem;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.PoperContentView .searchNoteTop .searchNoteTop_left {
  flex: none;
}

.PoperContentView .searchNoteTop .searchNoteTop_right {
  flex: auto;
  position: relative;
}

.PoperContentView .searchNoteTop .searchNoteTop_right input {
  width: 6.37rem;
  height: 0.75rem;
  background: white;
  box-shadow: 0 0.02rem 0.16rem 0 rgba(176, 176, 176, 0.29);
  border-radius: 0.38rem;
  padding-left: 0.61rem;
  padding-right: 1.45rem;
  box-sizing: border-box;
  color: #222222;
  font-size: 0.28rem;
}

.PoperContentView .searchNoteTop .searchNoteTop_right input::-webkit-input-placeholder {
  /*WebKit browsers*/
  font-size: 0.28rem;
}

.PoperContentView .searchNoteTop .searchNoteTop_right img {
  width: 0.26rem;
  height: 0.24rem;
  position: absolute;
  left: 0.23rem;
  top: 50%;
  transform: translateY(-50%);
}

.PoperContentView .searchNoteTop .searchNoteTop_right span {
  font-size: 0.28rem;
  font-weight: bold;
  color: #545454;
  position: absolute;
  top: 50%;
  right: 0.35rem;
  transform: translateY(-50%);
  line-height: 1;
}

.PoperContentView .searchNoteTop .searchNoteTop_right span::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  position: absolute;
  left: -0.35rem;
  top: 50%;
  transform: translateY(-50%);
}

.PoperContentView .searchNoteContent {
  height: 100%;
}

.PoperContentView .searchNoteContent .searchNoteContent_box {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-sizing: border-box;
  height: 100%;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.45rem;
  border-bottom: 1px solid #D8D6D6;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_top span {
  font-size: 0.26rem;
  color: #555555;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_top img {
  width: 0.27rem;
  height: 0.25rem;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 2.5rem;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom .searchNoteContent_bottom_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.32rem 0 0.27rem 0;
  font-size: 0.3rem;
  color: #333333;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom .searchNoteContent_bottom_child .searchNoteContent_child_left {
  flex: none;
  padding-top: 0.05rem;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom .searchNoteContent_bottom_child .searchNoteContent_child_left img {
  width: 0.27rem;
  height: 0.27rem;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom .searchNoteContent_bottom_child .searchNoteContent_child_center {
  flex: auto;
  padding-left: 0.25rem;
  padding-right: 0.35rem;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom .searchNoteContent_bottom_child .searchNoteContent_child_right {
  flex: none;
  padding-top: 0.05rem;
}

.PoperContentView .searchNoteContent .searchNoteContent_box .searchNoteContent_bottom .searchNoteContent_bottom_child .searchNoteContent_child_right img {
  width: 0.26rem;
  height: 0.26rem;
}
