// base color
$bg:#F6F6F6;
$borderColor:#EDEDED;
$themColor:#FF9900;
$red:#FF352B;
$colorInfo:#999999;
$color2:#222;
$color5:#555;
:export {
	bg:$bg;
	borderColor:$borderColor;
	themColor:$themColor;
	red:$red;
	colorInfo:$colorInfo;
	color5:$color5;
	color2:$color2;
}
