// vant的样式
.van-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15000000;
}
.van-overlay {
    position: fixed;
    z-index: 14500000 !important;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.van-dialog {
    border-radius: 8px;
    top: 50% !important;
    z-index: 17000000;
}
.tspsAdd {
    min-height: 100vh;
    padding-top: 1rem;
    background: #f8f8f8;
    overflow: hidden;
    input{
        background-color: #fff;
    }
    .tspsAdd_box {
        margin-top: 0.15rem;
    }

    .tspsAdd_top {
        background: #fff;
        padding-left: 0.3rem;
        margin-bottom: 0.15rem;
    }

    .tc_child {
        font-size: 0.28rem;
        color: #222222;
        display: flex;
        align-items: center;
        height: 1rem;
        border-bottom: 0.01rem solid #ededed;
    }

    .tc_child:last-child {
        border: 0;
    }

    .tc_left {
        width: 1.7rem;
        flex: none;
    }

    .tc_right {
        flex: auto;
        display: flex;
        align-items: center;
    }

    .tc_right input {
        width: 100%;
        height: 0.88rem;
        border: 0;
        line-height: 0.9rem;
        font-size: 0.26rem;
        color: #222;
        box-sizing: border-box;
        padding-right: 0.3rem;
    }

    .tc_child {
        padding-right: 0.2rem;
    }

    .cityInput {
        width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 0.2rem;
    }

    .nowLocation {
        flex: none;
        display: flex;
        align-items: center;
        position: relative;
    }

    .nowLocation:before {
        content: "";
        display: block;
        position: absolute;
        left: -0.25rem;
        top: 0;
        height: 100%;
        width: 1px;
        background: #ededed;
    }

    .nowLocation i {
        margin-right: 0.1rem;
    }

    .Tips_view1 {
        background: #fff;
        padding: 0.35rem 0.25rem;
        overflow: hidden;
        margin-bottom: 0.2rem;
        display: flex;
        justify-content: space-between;
    }

    .Tips_txt1 {
        float: left;
        font-size: 0.28rem;
    }

    /* switch开关 */
    .marquee {
        width: 0.8rem;
        height: 0.42rem;
        border-radius: 0.28rem;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        margin-left: 0.29rem;
        transition: all 0.4s ease-in-out 0s;
        position: relative;
    }

    .marqueeButton {
        position: absolute;
        left: 0;
        top: 1px;
        width: 0.34rem;
        height: 0.34rem;
        box-shadow: 0.02rem 0.03rem 0.08rem 0 rgba(2, 2, 2, 0.2);
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.4s ease-in-out 0s;
    }

    .marqueeSelect {
        background: #ff9c00;
        border: 1px solid #ff9c00;
    }

    .marqueeButtonSelect {
        left: 54% !important;
    }

    .tspsAdd_bottom {
        margin-bottom: 0.8rem;
    }

    .tc_save {
        width: 90%;
        height: 0.86rem;
        margin: 0 auto;
        background: #fc273c;
        border-radius: 0.45rem;
        color: #fff;
        font-size: 0.28rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Tips {
        background: #f0fff8;
        width: 100%;
        height: 0.8rem;
    }

    .Tips_img {
        width: 0.35rem;
        height: 0.28rem;
        float: left;
        margin: 0.26rem 0.25rem 0rem 0.25rem;
    }

    .Tips_img img {
        width: 100%;
        display: block;
    }

    .Tips_txt {
        font-size: 0.24rem;
        color: #15bf75;
        line-height: 0.8rem;
        float: left;
    }

    .Tips_close {
        width: 0.8rem;
        float: right;
        // padding: 0.3rem 0.25rem 0rem 0rem;
        height: 100%;
        padding-right: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Tips_close img {
        width: 0.2rem;
        height: 0.2rem;
    }
}
