button {
  outline: none;
  border: 0;
}

.nextButtonSuccess {
  background: #FF730C !important;
}

input {
  outline: none;
  border: 0;
  color: #222222;
}

.searchNoteTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.1rem;
  background: #f6f6f6;
  font-size: 0.36rem;
  color: #303030;
  font-weight: bold;
  position: relative;
}

.searchNoteTop .searchNoteTop_left {
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.searchNoteTop .searchNoteTop_left .voerTop_menuLeft {
  width: 0.45rem;
  height: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.searchNoteTop .searchNoteTop_left .voerTop_menuLeft span::after {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  transform: rotate(-45deg);
}

.title_style {
  font-size: 0.34rem;
  color: #222222;
  font-weight: bold;
  margin-bottom: 0.15rem;
  display: block;
}

.certification {
  background: #f5f4f7;
}

.certification .certification_box {
  background: #fff;
  padding: 0.43rem 0.46rem 0.3rem;
  margin-bottom: 0.2rem;
}

.certification .certification_box .certification_title span {
  display: block;
}

.certification .certification_box .certification_title span:last-child {
  font-size: 0.28rem;
  color: #999999;
}

.certification .certification_box .certification_title .certification_titleNumber {
  margin-bottom: 0.3rem;
}

.certification .certification_box .certification_title .certification_titleNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certification .certification_box .certification_title .certification_title_father {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0.9rem;
}

.certification .certification_box .certification_title .certification_title_father textarea {
  border: 0;
}

.certification .certification_box .certification_title .certification_title_father .certification_title_child {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.certification .certification_box .certification_box_top .certification_name {
  margin-bottom: 0.6rem;
}

.certification .certification_box .certification_box_top .certification_name span {
  margin-bottom: 0.35rem;
}

.certification .certification_box .certification_box_top .certification_name input {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0.43rem;
}

.certification .certification_box .certification_box_top .certification_name .certification_nameNumer {
  display: flex;
  justify-content: space-between;
}

.certification .certification_box .certification_box_top .certification_name .certification_nameNumer .title_style_num {
  font-size: 0.24rem;
  color: #C5C5C5;
}

.certification .certification_content {
  background: #fff;
  padding: 0.44rem 0.55rem 0.74rem 0.52rem;
}

.certification .certification_content .certification_content_title {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0.3rem;
  margin-bottom: 0.37rem;
}

.certification .certification_content .certification_content_title .info {
  font-size: 0.34rem;
  color: #303030;
  margin-bottom: 0.4rem;
  display: inline-block;
  font-weight: bold;
}

.certification .certification_content .certification_content_title .certification_content_div {
  display: flex;
  align-items: center;
}

.certification .certification_content .certification_content_title .certification_content_div span {
  width: 1.84rem;
  display: inline-block;
  font-size: 0.32rem;
  color: #333333;
}

.certification .certification_content .certification_imgFile .imgFile_title {
  margin-bottom: 0.5rem;
  font-size: 0.34rem;
  color: #303030;
  font-weight: bold;
}

.certification .certification_content .certification_imgFile .imgFile_box {
  display: flex;
  flex-wrap: wrap;
}

.certification .certification_content .certification_imgFile .imgFile_box .imgFile_box_child {
  margin-right: 0.39rem;
}

.certification .certification_content .certification_imgFile .imgFile_box .imgFile_box_child:nth-child(3n) {
  margin-right: 0;
}

.certification .certification_content .certification_imgFile .imgFile_box .imgFile_box_child img {
  width: 1.88rem;
  height: 1.88rem;
}

.certification .certification_content .certification_imgFile .imgFile_box .imgFile_box_child .imgFile_box_child_file {
  position: relative;
  overflow: hidden;
}

.certification .certification_content .certification_imgFile .imgFile_box .imgFile_box_child .imgFile_box_child_file img {
  width: 1.88rem;
  height: 1.88rem;
}

.certification .certification_content .certification_imgFile .imgFile_box .imgFile_box_child .imgFile_box_child_file .upFile {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.certification .certification_content .certification_imgFile .shopName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.42rem;
  padding-top: 0.51rem;
  border-bottom: 1px solid #E6E6E6;
}

.certification .certification_content .certification_imgFile .shopName input {
  text-align: right;
  padding-right: 0.1rem;
}

.certification .certification_content .certification_imgFile .shopName .shopName_left span {
  font-weight: bold;
  font-size: 0.32rem;
  color: #303030;
}

.certification .certification_content .certification_imgFile .shopName .shopName_right img {
  width: 0.13rem;
  height: 0.22rem;
}

.certification .certification_content .certification_imgFile .shopName_inventory {
  border: 0;
  padding-bottom: 0;
  padding-top: 0.45rem;
}

.certification .certification_content .certification_imgFile .shopName_inventory .shopName_right {
  display: flex;
}

.certification .certification_content .certification_imgFile .shopName_inventory .shopName_right div:first-child {
  margin-right: 0.34rem;
}

.certification .certification_content .certification_imgFile .shopName_inventory .shopName_right img {
  width: 0.25rem;
  height: 0.25rem;
}

.certification .certification_content .certification_imgFile .shopName_inventory_top {
  padding-top: 0.7rem !important;
}

.certification .certification_content .certification_imgFile .nextButton {
  display: flex;
  justify-content: center;
  padding-top: 0.59rem;
}

.certification .certification_content .certification_imgFile .nextButton button {
  width: 5.19rem;
  height: 0.77rem;
  background: #dbdbdb;
  border-radius: 0.15rem;
  font-size: 0.3rem;
  color: #fff;
}

.release_box_title {
  font-size: 0.34rem;
  color: #222222;
  margin-bottom: 0.7rem;
}

.release_box_title .release_box_num {
  color: #666666;
  font-weight: bold;
}
